global
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 120000ms
    timeout server 120000ms

frontend ollama_frontend
    bind 0.0.0.0:11434
    mode http
    default_backend ollama_backend
    timeout client 120000ms

backend ollama_backend
    mode http
    timeout server 120000ms
    server ollama-local host.docker.internal:32000 check

