global
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend ollama_frontend
    bind 0.0.0.0:11434
    mode http
    default_backend ollama_backend

backend ollama_backend
    mode http
    server ollama-local host.docker.internal:32000

